* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    background: black;
}

#score {
    position: fixed;
    display: none;
    color: wheat;
    background: transparent;
    top: 2px;
    left: 5px;
}

span {
    background: transparent;
    padding-left: 5px;
}

#bigScore {
    position: fixed;
    top: 32%;
    left: 15%;
    display: flex;
    width: 70%;
    height: 30%;
    color: #000;
    border-radius: 5px;
    background-color: white;
    justify-content: center;
    align-items: center;
}

ul {
    background: white;
}

#showScore {
    font-size: 25px;
    font-weight: 10px;
    background: white;
    font-family: 'Times New Roman', Times, serif;
}

.p {
    padding-bottom: 4px;
    font-size: 20px;
    background: white;
    font-family: 'Courier New', Courier, monospace;
}

.p1 {
    font-size: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: blue;
    padding: 4px 90px;
    color: rgb(255, 0, 170);
    border: .2px black solid;
    box-shadow: inset 8px 4px 5px rgb(5, 101, 255);
    border-radius: 30px;
}

.p1:hover {
    box-shadow: inset 10px 10px 40px rgb(5, 255, 234);
}